<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UNSPLASH_CLIENT_ID</key>
	<string>UkAo332eWPrezp1JVnGdfG3oANieDFuaj6s5DNKvVTM</string>
	<key>UNSPLASH_CLIENT_SECRET</key>
	<string>AiZ3hEfcvKPVBgWEQFv30w-jsGZlsHaxpI0gJytd9ZA</string>
</dict>
</plist>
